.container .places{
display: flex;
flex-wrap: wrap;
justify-content: center;
font-size: 30px;
}
.places h1 {
width: 100%;
font-size: 30px;
}
.container .places article {
width: 390px;
padding: 20px;
margin: 20px;
border: #FF5A5F 1px solid;
border-radius: 4px;;
}
.container .places article h2 {
    font-size: 30px;
    text-align: center;
}
