.container .places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    .places h1 {
    width: 100%;
    font-size: 30px;
    }
    .container .places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    position: relative;
    }
    .container .places article h2 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding-bottom: 10%;
    }
    div .price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5%;
    right: 7%;
    }
    div .information {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    border-top: #DDDDDD 1px solid ;
    border-bottom: #DDDDDD 1px solid ;
    justify-content: center;
    }
    div .information .max_guest {
        width: 100px;
        background-image: url("../images/icon_group.png");
        background-repeat: no-repeat;
        height: 100px;
        background-position: center top;
        line-height: 9em;
        text-align: center;
    }
    div .information .number_rooms {
        width: 100px;
        background-image: url("../images/icon_bed.png");
        background-repeat: no-repeat;
        height: 100px;
        background-position: center top;
        line-height: 9em;
        text-align: center;
    }
    div .information .number_bathrooms {
        width: 100px;
        background-image: url("../images/icon_bath.png");
        background-repeat: no-repeat;
        height: 100px;
        background-position: center top;
        line-height: 9em;
        text-align: center;
    }
    .user {
        margin: 10px auto;
    }
